@import "tailwindcss";

.light-blue{
    --background : rgb(226, 225, 225);
    --background-secondary : rgb(104, 116, 232);
    --sideNav-background : rgb(255, 255, 255);
    --sideNav-shadow : rgba(104, 116, 232, .2);
    --default-button : rgba(104, 116, 232, .4);
    --outletheader-background : rgba(255, 255, 255, 0.781);
    --outletcontainer-background : rgba(255, 255, 255, .3);
    --text-primary : rgb(59, 59, 59);
    --text-secondary : rgb(104, 116, 232);
    --text-tertiary : rgba(105, 105, 105, 0.705);
    --logout-button : oklch(0.707 0.022 261.325);
    --logout-text : rgb(226, 225, 255);
    --waves-opacity : .5;
}

.light-purple {
    --background : rgb(235, 222, 255);
    --background-secondary : rgb(170, 120, 255);
    --sideNav-background : rgb(220, 200, 255);
    --sideNav-shadow : rgba(170, 120, 255, 0.3);
    --default-button : rgba(170, 120, 255, 0.6);
    --outletheader-background : rgba(210, 180, 255, 0.85);
    --outletcontainer-background : rgba(220, 190, 255, 0.5);
    --text-primary : rgb(80, 30, 120);
    --text-secondary : rgb(170, 120, 255);
    --text-tertiary : rgba(120, 80, 160, 0.7);
    --logout-button : oklch(0.7 0.1 300);
    --logout-text : rgb(245, 230, 255);
    --waves-opacity : .4;
}

.dark-blue {
    --background: rgb(15, 20, 35);
    --background-secondary: rgb(30, 50, 80);
    --sideNav-background: rgb(25, 35, 55);
    --sideNav-shadow: rgba(0, 102, 255, 0.1);
    --default-button: rgba(0, 102, 255, 0.6);
    --outletheader-background: rgb(14, 27, 51);
    --outletcontainer-background: rgba(25, 45, 75, 0.6);
    --text-primary: rgb(200, 220, 255);
    --text-secondary: rgb(0, 153, 255);
    --text-tertiary: rgba(150, 170, 200, 0.7);
    --logout-button: oklch(0.6 0.2 250);
    --logout-text: rgb(220, 230, 255);
    --waves-opacity : .2;
}

.dark-purple {
    --background: rgb(20, 10, 35);
    --background-secondary: rgb(45, 20, 70);
    --sideNav-background: rgb(30, 15, 50);
    --sideNav-shadow: rgba(150, 80, 255, 0.1);
    --default-button: rgba(150, 80, 255, 0.6);
    --outletheader-background: rgba(30, 15, 50);
    --outletcontainer-background: rgba(60, 30, 100, 0.6);
    --text-primary: rgb(220, 200, 255);
    --text-secondary: rgb(180, 120, 255);
    --text-tertiary: rgba(170, 140, 210, 0.7);
    --logout-button: oklch(0.6 0.2 300);
    --logout-text: rgb(230, 210, 255);
    --waves-opacity : .2;
}

@layer utilities {
    .text-primary {
        color: var(--text-primary);
    }
  
    .text-secondary {
        color: var(--text-secondary);
    }
  
    .text-tertiary {
        color: var(--text-tertiary);
    }

    .text-logout {
        color: var(--logout-text);
    }

    .bg-logout-button {
        background-color: var(--logout-button);
    }

    .animate-wobble:focus-within {
        animation: wobble 200ms ease-in-out 1;
    }
}

body{
    position: relative;
    background-color: var(--background); 
    color: var(--text-primary);
    font-family: "Montserrat", serif;
}
body::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    opacity: .3;
    z-index: -1;
}
body::after{
    content: "Copyright © 2025 Alatar All rights reserved.";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: x-small;
    color: var(--text-tertiary);
}

@keyframes wobble {
    0%{
        transform: scale(1.03); 
        translate : .2rem;
    }
    50%{
        transform: scale(1);
        translate: -.2rem;
    }
}

.button-loader {
    width: 16px;
    height: 16px;
    position: relative;
}
.button-loader:before , .button-loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--text-secondary);
    animation: push 1s infinite linear alternate;
}
.button-loader:after {
    top: auto;
    bottom: 0;
    left: 0;
    background: #fff;
    animation-direction: alternate-reverse;
}

@keyframes push {
    0% {
        width: 2px;
        height: 2px;
    }
    100% {
        width: 16px;
        height: 16px;
    }
}

  
@keyframes animbutton-loader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0; 
    }
}
  
.waves-container {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: var(--waves-opacity);
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    fill: var(--text-secondary);
}
.parallax > use:nth-child(1) {
    animation-delay: -8s;
    animation-duration: 10s;
    fill: var(--text-secondary);
    opacity: 0.6;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 12s;
    fill: var(--text-secondary); 
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
    fill: var(--text-secondary);
    opacity: .2;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 25s;
    fill: var(--text-secondary);
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}


:root {
	--trans-dur: 0.6s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
}
.switch,
.switch__input {
	display: block;
	-webkit-tap-highlight-color: transparent;
    font-size: 1.3rem;
}
.switch {
	margin: auto;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    cursor: pointer;
}
.switch__icon {
	color: var(--text-primary);
	position: absolute;
	top: 0.375em;
	left: 0.375em;
	width: 0.75em;
	height: 0.75em;
	transition:
		color var(--trans-dur),
		transform var(--trans-dur) var(--trans-timing);
}
.switch__icon:nth-of-type(2) {
	right: 0.375em;
	left: auto;
}
.switch__inner,
.switch__inner-icons {
	border-radius: 0.5em;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	width: 2.25em;
	height: 1em;
}
.switch__inner:before,
.switch__inner-icons {
	transition: transform var(--trans-dur) var(--trans-timing);
	transform: translateX(-1.25em);
}
.switch__inner:before {
	background-color: var(--background-secondary);
	border-radius: inherit;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
}
.switch__inner-icons .switch__icon {
	color: hsl(0,0%,100%);
	top: 0.125em;
	left: 0.125em;
	transform: translateX(1.25em);
}
.switch__inner-icons .switch__icon:nth-child(2) {
	right: 0.125em;
	left: auto;
}
.switch__input {
	background-color: hsl(0,0%,100%);
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.0625em hsla(var(--hue),90%,50%,0),
		0 0.125em 0.5em hsla(var(--hue),10%,10%,0.1);
	outline: transparent;
	width: 2.75em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur);
}
.switch__input:checked {
	background-color: var(--background);
}
.switch__input:checked ~ .switch__icon {
	color: hsla(var(--hue),10%,40%);
}
.switch__input:checked ~ .switch__inner:before,
.switch__input:checked ~ .switch__inner-icons {
	transform: translateX(1.25em);
}
.switch__input:not(:checked) ~ .switch__icon:first-of-type,
.switch__input:checked ~ .switch__icon:nth-of-type(2) {
	transform: rotate(360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:first-of-type {
	transform: translateX(-1.25em) rotate(-360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:nth-of-type(2) {
	transform: translateX(-1.25em) rotate(360deg);
}
.switch__input:focus-visible {
	box-shadow:
		0 0 0 0.0625em hsla(var(--hue),90%,50%,1),
		0 0.125em 0.5em hsla(var(--hue),10%,10%,0.1);
}
.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

.triangles {
    transform: translate(-50%, -50%);
    height: 40px;
    width: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.tri {
    position: absolute;
    animation: pulse_51 750ms ease-in infinite;
    border-top: 13px solid var(--text-primary);
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 0px;
}

.tri.angles {
    border-top: 0px;
    border-bottom: 13px solid var(--text-primary);
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}

.tri:nth-child(1) {
    left: 15px;
}

.tri:nth-child(2) {
    left: 7.5px;
    top: 13px;
    animation-delay: -125ms;
}

.tri:nth-child(3) {
    left: 15px;
    top: 13px;
}

.tri:nth-child(4) {
    left: 22.5px;
    top: 13px;
    animation-delay: -625ms;
}

.tri:nth-child(5) {
    top: 27px;
    animation-delay: -250ms;
}

.tri:nth-child(6) {
    top: 27px;
    left: 7.5px;
    animation-delay: -250ms;
}

.tri:nth-child(7) {
    top: 27px;
    left: 15px;
    animation-delay: -375ms;
}

.tri:nth-child(8) {
    top: 27px;
    left: 22.5px;
    animation-delay: -500ms;
}

.tri:nth-child(9) {
    top: 27px;
    left: 30px;
    animation-delay: -500ms;
}

@keyframes pulse_51 {
    0% {
        opacity: 1;
    }

    16.666% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}